@import "tailwindcss";

:root {
  --font-scale: 1;
  --accent: violet;
}

html {
  font-size: calc(16px * var(--font-scale));
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
